.highlights-section {
    background-color: rgba(0, 11, 24, 0.902);
    display: grid;
    grid-template-columns: .5fr 1fr;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100%;
    row-gap: 20px;
    column-gap: 60px;
    padding: 0px 80px 0px 80px;
}


.project-main-photo-holder {
}

.project-main-photo {
    object-fit: cover;
    width: 90%;
    aspect-ratio: 3/2;
    border-radius: 2%;
    max-width: 700px;
}

.project-words-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-words {
    max-width: 300px;
    text-align: left;
    align-items: center;
}

.project-side-side {
    display: flex;
    flex-direction: row;
}

.project-left-side {
    flex: 1;
    text-align: left;
    background-color: aliceblue;
}

.project-right-side {
    flex: 1;
    text-align: left;
    background-color: beige;
}

@media screen and (max-width: 1000px) {
    .highlights-section {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 20px 0px 20px;
        row-gap: 0px;
        column-gap: 0px;
    }
    .project-side-side {
        display: flex;
        flex-direction: column;
    }
}