.highlights-section {
    height: 100%;
    color: white;
    display: grid;
    grid-template-columns: .7fr 1.5fr;
    column-gap: 10%;
    row-gap: 20px;
    padding: 20px 80px 20px 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 12%;
    padding-right: 12%;
    background-color: rgba(0, 11, 24, 0.902); 
    align-items: center;
    width: 100%;
    min-height: fit-content;
}


.project-main-photo {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 3/2;
    border-radius: 2%;
    max-width: 1200px;
}

.project-words-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.project-words {
    max-width: none;
    text-align: left;
    align-items: center;
    font-size: 1.5rem;
}

.project-side-side {
    display: grid;
    grid-template-columns: .7fr 1.5fr;
    column-gap: 10%;
    row-gap: 20px;
    padding: 20px 80px 20px 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 12%;
    padding-right: 12%;
    align-items: top;
    width: 100%;
}

.project-left-side {
    text-align: left;
    font-size: 1.2rem;

}

.project-right-side {
    line-height: 150%;
    text-align: left;
    font-size: 1.2rem;
}

.project-right-side ul {
    padding-left: 10%;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.iframe-container iframe {
    width: 80%;
    height: 80%;
    display: block;      
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0px;
}
  
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.project-photo-row {
    object-fit: cover;
    width: 90%;
    border-radius: 1%;
    max-width: 1200px;
}


@media (max-width: 1000px) {
    .highlights-section {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 40px;
        padding-bottom: 60px;
        padding-left: 10%;
        padding-right: 10%;
        row-gap: 0px;
        column-gap: 0px;
    }

    .project-words {
        max-width: 95%;
        font-size: 1.3rem;
    }

    .project-side-side {
        grid-template-columns: repeat(1, 1fr);
        padding: 40px 40px 60px 40px;
        row-gap: 20px;
        column-gap: 0px;
    }

    .project-photo-row {
        width: 90%;
    }


}